<mat-toolbar>
  <span>Register Vehicle</span>
</mat-toolbar>
<div class="body">
  <div class="register">
    <form #registercardform="ngForm" (ngSubmit)="onSubmit(registercardform)">
      <mat-form-field>
        <mat-label>License Plate</mat-label>
        <input matInput type="text" name="cardNumber" ngModel>
      </mat-form-field>
      <mat-form-field class="width: 100%;">
        <mat-label>Model</mat-label>
        <input matInput type="text" name="dueDate" ngModel>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Brand</mat-label>
        <input matInput type="password" name="cvv" ngModel autocomplete="current-password">
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Save</button>
      <br>

      <button type="button" mat-raised-button color="accent">Cancel</button>
    </form>
  </div>
</div>
