.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner{
  margin: 0 auto;
}

.register-card {
  width: 500px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-checkbox {
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
}

.row{
  justify-content: center;
  text-align: center;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  min-width: 20px;
  min-height: 20px;
}


