<mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
<div *ngIf="!loading">
  <mat-toolbar>
    <span>Register Card</span>
  </mat-toolbar>
  <div *ngIf="openregister">
    <div class="body">
      <div class="register">
        <form #registercardform="ngForm" (ngSubmit)="onSubmit(registercardform)">
          <mat-form-field>
            <mat-label>Número de Tarjeta de Crédito</mat-label>
            <input matInput type="text" name="number" ngModel required pattern="^[0-9]{16}$">
            <mat-error *ngIf="registercardform.controls['number']">
              Por favor ingrese un número de tarjeta de 16 dígitos.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="width: 100%;">
            <mat-label>Fecha de vencimiento (mm/aa)</mat-label>
            <input matInput type="text" name="expirationDate" ngModel required pattern="^(0[1-9]|1[0-2])\/\d{2}$">
            <mat-error *ngIf="registercardform.controls['expirationDate']">
              Please enter the date in the format 'mm/aa'.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>CVV</mat-label>
            <input matInput type="password" name="cvv" ngModel autocomplete="current-password" required>
          </mat-form-field>

          <mat-checkbox name="automaticDebit" ngModel>Do you accept automatic debit?</mat-checkbox>
          <button type="submit" mat-raised-button color="primary">Save</button>
          <br>

          <button type="button" mat-raised-button (click)="cancelRegister()" color="accent">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="!openregister">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <div class="body1">
      <br><br>
      <div class="register1">
        <div class="card">
          <div class="card-header">
            <h2>Registered Card</h2>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label class="control-label">Number Card</label>
                </div>
                <div class="col-md-6">
                  <label class="control-label"> {{data.number}}</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label class="control-label">Due Date</label>
                </div>
                <div class="col-md-6">
                  <label class="control-label"> {{data.expirationDate}}</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label class="control-label">CVV</label>
                </div>
                <div class="col-md-6">
                  <label class="control-label"> {{data.cvv}}</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <button mat-raised-button (click)="changeRegister()" color="accent">Change Card</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>



</div>
